<section
        class="col-{{ link.width }} section-{{ link.type|replace({('_'):'-'}) }} {% block classes %}{% endblock %}"
        style="top:{{ link.y }}px;left:{{ link.x }}px;"
        data-id="{{ link.id }}"
        data-type="{{ link.type }}"
        data-type-id="{{ section.id }}"
        >
	<aside class="toolbar">
        {% include 'StemsPageBundle:Toolbox:sectionRemove.html.twig' %}
		{% include 'StemsPageBundle:Toolbox:sectionColumnSpan.html.twig' %}
        {% block tools %}{% endblock %}
	</aside>
	<div class="hidden-form" style="display:none">
		{% block form %}{% endblock %}
	</div>
	<div class="preview">
		{% block preview %}{% endblock %}
	</div>
	<input type="hidden" class="section-x" name="sections_x[{{ link.id }}]" value="{{ link.x }}">
	<input type="hidden" class="section-y" name="sections_y[{{ link.id }}]" value="{{ link.y }}">
    <input type="hidden" class="section-width" name="sections_width[{{ link.id }}]" value="{{ link.width }}">
	<input type="hidden" name="sections[]" value="{{ link.id }}">
</section>