<section
        class="col-{{ link.span }} section-{{ link.type|replace({('_'):'-'}) }} {% if not link.pinned %}unpinned{% endif %}{% block classes %}{% endblock %}"
        style="top:{{ link.y }}px;left:{{ link.x }}px;{% if not link.pinned %}width:{{ link.width }}px;height:{{ link.height }}px;{% endif %}"
        data-id="{{ link.id }}"
        data-type="{{ link.type }}"
        data-type-id="{{ section.id }}"
        >
	<aside class="toolbar">
        {% include 'ThreadAndMirrorBlogBundle:Toolbox:sectionRemove.html.twig' %}
		{% include 'ThreadAndMirrorBlogBundle:Toolbox:sectionColumnSpan.html.twig' %}
        {% block tools %}{% endblock %}
	</aside>
	<div class="hidden-form" style="display:none">
		{% block form %}{% endblock %}
	</div>
	<div class="preview">
		{% block preview %}{% endblock %}
	</div>
	<input type="hidden" class="section-x" name="sections_x[{{ link.id }}]" value="{{ link.x }}">
	<input type="hidden" class="section-y" name="sections_y[{{ link.id }}]" value="{{ link.y }}">
    <input type="hidden" class="section-span" name="sections_span[{{ link.id }}]" value="{{ link.span }}">
    <input type="hidden" class="section-width" name="sections_width[{{ link.id }}]" value="{{ link.width }}">
    <input type="hidden" class="section-height" name="sections_height[{{ link.id }}]" value="{{ link.height }}">
    <input type="hidden" class="section-pinned" name="sections_pinned[{{ link.id }}]" value="{{ link.pinned ? 1 : 0 }}">
	<input type="hidden" name="sections[]" value="{{ link.id }}">
</section>