<section class="section section__col-{{ link.span }} section-{{ link.type|replace({('_'):'-'}) }} {% if not link.pinned %}unpinned{% endif %} {% block classes %}{% endblock %}" {% block attributes %}{% endblock %} style="top:{{ link.y }}px;left:{{ link.x }}px;{% if not link.pinned %}width:{{ link.width }}px;height:{{ link.height }}px;{% endif %}" itemprop="articleBody">
	{% block content %}{% endblock %}
</section>