{% extends 'StemsPageBundle:Section:base.html.twig' %}

{% block content %}
	<div class="image {{ section.position }}">
		{% if section.link is not empty %}<a href="{{ section.link }}" target="_blank">{% endif %}
			<img 
				src="{{ getMediaImage(section.image).src }}" 
				alt="{% if section.caption is not empty %}{{ section.caption }}{% else %}Image{% endif %}"
			>
			{% if section.caption is not empty %}<p class="image-caption">{{ section.caption }}</p>{% endif %}
		{% if section.link is not empty %}</a>{% endif %}
	</div>
{% endblock %}
	
