<div class="preview-image {{ section.position }} {% if section.image is empty %}preview-image-empty-mini{% endif %}">
    {% if section.image is not empty %}
        {% if section.effect == 'cutout' %}
            <img class="section-image__image section-image__image--{{ section.position }} section-image__image--{{ section.position }}--col-{{ link.span }}" src="{{ getMediaImage(section.image).src|imagine_filter('section_image_large_cutout')|transparentColor }}" />
        {% else %}
            <img class="section-image__image section-image__image--{{ section.position }} section-image__image--{{ section.position }}--col-{{ link.span }} {% if section.effect != 'none' %}css-filter-{{ section.effect }}{% endif %}" src="{{ getMediaImage(section.image).src|imagine_filter('section_image_large') }}" />
        {% endif %}
        <div class="button-holder">
            <div>
                <div>
                    <a class="btn btn-primary rest-get-popup" href="{{ path('stems_page_popup_edit_image_section', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Change Image</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="button-holder">
            <div>
                <div>
                    <a class="btn btn-primary rest-get-popup" href="{{ path('stems_page_popup_edit_image_section', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Add Image</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>