<h4>Magazine Section</h4>
<button class="remove-section btn btn-small btn-danger" data-id="{{ link.id }}"><i class="fa fa-times"></i> Remove</button>
<input type="hidden" name="sections[]" value="{{ link.id }}">
<div class="section-magazine">
	<div class="column">
		{{ form_row(form.contentA) }}
		<label>Image 1 Preview</label>
		<div class="preview-image  preview-image-mini {% if section.imageB is empty %}preview-image-empty{% endif %}" data-type="imageSectionImage" data-section="{{ section.id }}">
			{% if section.imageA is not empty %}
				<img 
					src="{{ getMediaImage(section.imageA).src }}" 
					{% if getMediaImage(section.imageA).width > 356 %}
						width="356"
					{% else %}
						width="{{ getMediaImage(section.imageA).width }}"
					{% endif %}
				/>
				<div class="button-holder">
					<div>
						<div>
							<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_blog_popup_set_featureimage', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Change Feature Image</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="button-holder">
					<div>
						<div>
							<a class="btn btn-primary rest-get-popup" href="{{ path('stems_popup_blog_set_imagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Add Image</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		{{ form_row(form.positionA) }}
		{{ form_row(form.captionA) }}
		{{ form_row(form.linkA) }}
	</div>
	<div class="column">
		{{ form_row(form.contentB) }}
		<label>Image 2 Preview</label>
		<div class="preview-image  preview-image-mini {% if section.imageB is empty %}preview-image-empty{% endif %}" data-type="imageSectionImage" data-section="{{ section.id }}">
			{% if section.imageB is not empty %}
				<img 
					src="{{ getMediaImage(section.imageB).src }}" 
					{% if getMediaImage(section.imageB).width > 356 %}
						width="356"
					{% else %}
						width="{{ getMediaImage(section.imageB).width }}"
					{% endif %}
				/>
				<div class="button-holder">
					<div>
						<div>
							<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_blog_popup_set_featureimage', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Change Feature Image</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="button-holder">
					<div>
						<div>
							<a class="btn btn-primary rest-get-popup" href="{{ path('stems_popup_blog_set_imagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Add Image</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		{{ form_row(form.positionB) }}
		{{ form_row(form.captionB) }}
		{{ form_row(form.linkB) }}
	</div>
{# 	<div class="column">
		{{ form_row(form.contentC) }}
		{{ form_row(form.imageC) }}
		{{ form_row(form.positionC) }}
		{{ form_row(form.captionC) }}
		{{ form_row(form.linkC) }}
	</div> #}
	<br class="clear">
</div>