<div class="image-item">
	<h4>Edit Selected Scrap</h4>
	<input type="hidden" id="scrapbook_image_{{ image.id }}" value="{{ image.id }}">
	{{ form_row(form.image) }}
	{{ form_row(form.width) }}
	{{ form_row(form.x) }}
	{{ form_row(form.y) }}
</div>