<section class="col-1 section-text-and-image">
<button class="remove-section btn btn-small btn-danger" data-id="{{ link.id }}"><i class="fa fa-times"></i> Remove</button>
<input type="hidden" name="sections[]" value="{{ link.id }}">
<div class="section-text-and-image">
	{% if section.position == 'right' %}
		<div class="column column-text">
			{{ form_row(form.content) }}
		</div>
		<div class="column column-preview">
			<label>Image Preview</label>
			<div class="preview-image {% if section.image is empty %}preview-image-empty-mini{% endif %}" data-type="imageSectionImage" data-section="{{ section.id }}">
				{% if section.image is not empty %}
					<img 
						{# src="{{ getMediaImage(section.image).src }}"  #}
						src="{{ section.image }}"
						{# {% if getMediaImage(section.image).width > 356 %} #}
							width="356"
					{# 	{% else %}
							width="{{ getMediaImage(section.image).width }}"
						{% endif %} #}
					/>
					<div class="button-holder">
						<div>
							<div>
								<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_page_set_textandimagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Change Image</a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="button-holder">
						<div>
							<div>
								<a class="btn btn-primary rest-get-popup" href="{{ path('stems_popup_page_set_imagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Add Image</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			{{ form_row(form.position) }}
			{{ form_row(form.caption) }}
			{{ form_row(form.link) }}
			{{ form_row(form.wrap) }}
		</div>
	{% else %}
		<div class="column column-preview">
			<label>Image Preview</label>
			<div class="preview-image  preview-image-mini {% if section.image is empty %}preview-image{% endif %}" data-type="imageSectionImage" data-section="{{ section.id }}">
				{% if section.image is not empty %}
					<img 
						{# src="{{ getMediaImage(section.image).src }}"  #}
						src="{{ section.image }}"
						{# {% if getMediaImage(section.image).width > 356 %} #}
							width="356"
				{# 		{% else %}
							width="{{ getMediaImage(section.image).width }}"
						{% endif %} #}
					/>
					<div class="button-holder">
						<div>
							<div>
								<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_page_set_textandimagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Change Image</a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="button-holder">
						<div>
							<div>
								<a class="btn btn-primary rest-get-popup" href="{{ path('stems_rest_page_set_textandimagesectionimage', { id : section.id }) }}"><i class="fa fa-picture-o"></i> Add Image</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			{{ form_row(form.position) }}
			{{ form_row(form.caption) }}
			{{ form_row(form.link) }}
			{{ form_row(form.wrap) }}
		</div>
		<div class="column column-text">
			{{ form_row(form.content) }}
		</div>
	{% endif %}
	<br class="clear">
</div>
</section>