{% extends stems_theme ~ '.html.twig' %}

{% block windowTitle %}{{ page.windowTitle }}{% endblock %}

{% block layout %}
   <div class="cms-page">
        <div class="wrap">
        	<div class="layout-sidebar">
	        	<p class="breadcrumb"><a href="/">Home</a> › {% block breadcrumbs %}{{ page.title }}{% endblock %}</p>
	        	<div class="content">
	            	{% block content %}{{ page.content|raw }}{% endblock %}
					{% block dynamic %}{% endblock %}
				</div>
				<div class="sidebar">
					<div class="snap">
						{{ render(controller('ThreadAndMirrorSocialBundle:Widget:latestPosts')) }}
						{{ render(controller('StemsSocialBundle:Widget:instagramSlider')) }}
						{% if page.slug != 'blog' %}
							<a href="/blog">Go Back to the Blog &nbsp;<i class="fa fa-angle-right"></i></a>
						{% endif %}
					</div>
				</div>
				<br class="clear">
			</div>
        </div>
    </div>
{% endblock %}